name: Test App

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - uses: actions/setup-python@v5
      with:
        python-version: '3.9'
    
    - name: Run test
      run: |
        export USER_DB_PATH="test.db"
        python -c "
